ollama_url   = "https://ollama.chambaz.xyz/api/chat"
ollama_user  = "paulchambaz"
ollama_pass  = "TPDCS0RG9zI2TjyGFo0pABvvoyK6iDFb"
ollama_model = "qwen3:4b-instruct-2507-q4_K_M"

threshold = 0.7

# db = "deck.db"   # defaults to <deck>.db if unset

# --- server (flash serve) ---
# serve_host  = "0.0.0.0"
# serve_port  = 8765
# serve_token = "change-me"
# serve_data  = "."

# --- client remote (flash host:deck.md) ---
# remote_port  = 8765
remote_token = "NzUBOcXkgIRXhsBGxukUHz1tjhPSRVMd"

[aliases]
server = "flash.chambaz.xyz"
